{% extends "layout.html" %}
{% block content %}
    <p>
        Developers:
        <ul>
        Homepage and Layout:
            <li>
                Adam Silhanek: Short bio. Link to the CV.
                Annamaria Oroshazi: Short bio. Link to the CV.
                Mikkel Willoch: Short bio. Link to the CV.
            </li>
        Methodology: 
        <li>
                Lan Ngoc Nguyen: Short bio. Link to the CV.
                Nabil Kuzbari: Short bio. Link to the CV.
            </li>
        Carbon App: 
            <li>
                Elena Hanusova: Short bio. Link to the CV.
                Sabrin Hassan: Short bio. Link to the CV.
            </li>
        </ul>
    </p>
{% endblock content %}