body {
    margin: 0;
    background-color: hsl(180, 50%, 69%);
    font-family: Arial, sans-serif;
}

nav {
    padding: 1rem;
}

.nav-links {
    list-style: none;        
    display: flex;           
    gap: 2rem;               
    justify-content: center; 
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;  
    color: #0b60b0;          
    font-weight: bold;
}