{% extends "layout.html" %}
{% block content %}

<!-- Header -->
<section class="section_header_home">
  <div class="container">

    <div class="header_home">
      <div class="box"> 
        <h1 style="font-size:55px; color:#000;">Home</h1>
        <p style="text-align:left; color:#000;">
            Intoduction
        </p>
      </div>
      <div class="box">
      </div>
    </div>

  </div>
</section> 

<!-- Developers -->
<section class="section_developers">
  <div class="container">

    <div class="developers" style="display:block;">
      <h1 style="text-align:center;"> Meet Our Team</h1>
      <p>
        We are Norwegian and international students at the Norwegian School of Economics who are interested in app development, sustainability, and connecting theory with practice. Through our app, we aim to help people reduce their carbon footprint.
      </p>      
    </div>

    <div class="developers">
        <div class="box">
          <div class="developer_photo_placeholder"></div>
          <h3>Sabrin Hassan</h3>
          <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
          </p>
          <div class="container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Linkedin</a>
          </div> 
        </div>
        <div class="box">
          <div class="developer_photo_placeholder"></div>
          <h3>Elena Hanusová</h3>
          <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
          </p>
          <div class="container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Linkedin</a>
          </div> 
        </div>           
        <div class="box">
          <div class="developer_photo_placeholder"></div>
          <h3>Adam Silhanek</h3>
          <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
          </p>
          <div class="container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Linkedin</a>
          </div> 
        </div>     
    </div>

    <div class="developers">
      <div class="box2">
        <div class="developer_photo_placeholder"></div>
        <h3>Annamari Orosházi</h3>
        <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Linkedin</a>
        </div> 
      </div>
      <div class="box2">
        <div class="developer_photo_placeholder"></div>
        <h3>Nabil Kuzbari</h3>
        <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Linkedin</a>
        </div> 
      </div>           
      <div class="box2">
        <div class="developer_photo_placeholder"></div>
        <h3>Lan Ngoc Nguyen</h3>
        <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Linkedin</a>
        </div> 
      </div>
      <div class="box2">
        <div class="developer_photo_placeholder"></div>
        <h3>Mikkel Willoch</h3>
        <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Linkedin</a>
        </div> 
      </div>     
  </div>

  </div>          
</section>
        
{% endblock content %}
