{% extends "layout.html" %}
{% block content %}
  
<!-- Header -->
<section class="section_header_home_video">
      <video class="header-video" autoplay muted loop playsinline>
          <source src="{{ url_for('static', filename='icons/AboutUs.mp4') }}" type="video/mp4">
      </video>
</section>

<!-- Developers -->

<section class="developersContainer">

  <h1 class="devTitle"> Meet our <span style="color:rgb(0, 0, 139);"> TEAM</span></h1>

  <div class="line"></div>


  <div class="containerTeam"> 
    <div class="boxCard card1"> 
      <div class="profil"> 
        <img src="{{url_for('static', filename='icons/profilW.avif')}}" alt="Sabrin">
      </div>
      <h4 class="profilTitle"> Sabrin Adan Hassan</h4>
      <p class="role"> Bacholor student of Economics & Business Administration at NHH </p>

      <p class="bio">  Interested in sustainability, business innovation and carbon tracking solutions.</p>
      <div class="linkedinContainer">
        <a href="#" class="linkedinIcon"><i class="bi bi-linkedin"></i></a>
      </div>

      
    </div>
    <div class="boxCard card2"> 
      <div class="profil"> 
        <img src="{{url_for('static', filename='icons/profilW.avif')}}" alt="Sabrin">
      </div>
      <h4 class="profilTitle"> Elena Hanusova</h4>
      <p class="role">Bachelor student of Business Administration at LUISS University</p>

      <p class="bio">  Interested in sustainability, business innovation and carbon tracking solutions.</p>
      <div class="linkedinContainer">
        <a href="#" class="linkedinIcon"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
    <div class="boxCard card3"> 
      <div class="profil"> 
        <img src="{{url_for('static', filename='icons/profilW.avif')}}" alt="Sabrin">
      </div>
      <h4 class="profilTitle">Lan Ngoc Nguyen</h4>
      <p class="role">Bacholor student of Economics & Business Administration at NHH</p>

      <p class="bio">  Interested in sustainability, business innovation and carbon tracking solutions.</p>
      <div class="linkedinContainer">
        <a href="#" class="linkedinIcon"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
    <div class="boxCard card4">
      <div class="profil"> 
        <img src="{{url_for('static', filename='icons/profilW.avif')}}" alt="Sabrin">
      </div>
      <h4 class="profilTitle"> Annemari Oroshazi</h4>
      <p class="role">Economics & Business Administration Student</p>

      <p class="bio">  Interested in sustainability, business innovation and carbon tracking solutions.</p>
      <div class="linkedinContainer">
        <a href="#" class="linkedinIcon"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
    <div class="boxCard card5"> 
      <div class="profil"> 
        <img src="{{url_for('static', filename='icons/profilM.png')}}" alt="Sabrin">
      </div>
      <h4 class="profilTitle"> Adam Silhanek</h4>
      <p class="role">Bacholor student of Economics & Business Administration at NHH</p>

      <p class="bio">  Interested in sustainability, business innovation and carbon tracking solutions.</p>
      <div class="linkedinContainer">
        <a href="#" class="linkedinIcon"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
    <div class="boxCard card6"> 
      <div class="profil"> 
        <img src="{{url_for('static', filename='icons/profilM.png')}}" alt="Sabrin">
      </div>
      <h4 class="profilTitle"> Nabil Kuzbari</h4>
      <p class="role">Economics & Business Administration Student</p>

      <p class="bio">  Interested in sustainability, business innovation and carbon tracking solutions.</p>
      <div class="linkedinContainer">
        <a href="#" class="linkedinIcon"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
    <div class="boxCard card7"> 
      <div class="profil"> 
        <img src="{{url_for('static', filename='icons/profilM.png')}}" alt="Sabrin">
      </div>
      <h4 class="profilTitle"> Mikke Willoch</h4>
      <p class="role">Bacholor student of Economics & Business Administration at NHH</p>

      <p class="bio">  Interested in sustainability, business innovation and carbon tracking solutions.</p>
      <div class="linkedinContainer">
        <a href="#" class="linkedinIcon"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>

  </div>
</section>


{% endblock content %}