{% extends "layout.html" %}
{% block content %}

    <!-- Header -->
     <section class="carbon-page">
        <!-- Header -->
        <header class="page-header">
        <div>
            <h2>Carbon App <span style="color:teal"> Calculator </span></h2>
        </div>
        </header>

        <div class="wrapper">
        
            <!---------Update-------->
            <section class="new entry">
                <p>Add a new entry:</p>
                    <div class="entries">
                        <a class="button" type="submit"><i class="fa-solid fa-car"></i>Car</a>
                        <a class="button" type="submit"><i class="fa-solid fa-bus"></i>Bus</a>
                        <a class="button" type="submit"><i class="fa-solid fa-plane"></i>Airplane</a>
                        <a class="button" type="submit"><i class="fa-solid fa-ferry"></i>Ferry</a>
                        <a class="button" type="submit"><i class="fa-solid fa-train"></i>Train</a>
                        <a class="button" type="submit"><i class="fa-solid fa-train-tram"></i>Bybane</a>
                        <a class="button" type="submit"><i class="fa-solid fa-motorcycle"></i>Motorcycle</a>
                        <a class="button" type="submit"><i class="fa-solid fa-bicycle"></i>Cycling</a>
                        <a class="button" type="submit"><i class="fa-solid fa-person-walking"></i>Walking</a>
                    </div>
                

            </section>

            <!--------Alternative------->
            <section class="alternative"> 
                <h3> Smart Alternative</h3>

            <div class="recAlt"> 
                <h5> Recommended alternative</h5>
            </div>

            

            </section>
        </div>

</section>
    
{% endblock content %}